.profile__block {
  font-family: "'Playfair Display', serif";
  font-size: 19px;
  margin: 14px 14px 0 14px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.editModeButtonBlock {
  width: 100px;
}