.myPosts__block {
margin-top: 20px;
}
.myPosts__title {
    font-size: 20px;
    font-weight: bolder;
    color: midnightblue;
}

.post__block {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid mediumslateblue;
    box-shadow: 3px 3px 5px mediumslateblue ;
}


.post__text {
    font-size: 18px;
}