.header__block {
    width: 100%;
    background-color: cornflowerblue;
    border-bottom: 2px solid black;
    padding: 40px 0;
}

.header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__title {
    color: brown;
    font-size: 35px;
    font-family: "Noto Color Emoji" ;

}


.header__login {
    color: brown;
    font-size: 25px;
    font-family: "Noto Color Emoji" ;
}

