.header__block {
    font-family: "'Playfair Display', serif";
    width: 100%;
    background-color: darkslateblue;
    border-bottom: 2px solid black;
    padding: 40px 0;
    color: #c9c9d5;
;
}

.header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-size: 35px;
}

.header__login {
    font-size: 25px;
}

.logout__block {
    display: flex;
    align-items: flex-end;
}

.logout__text {
    font-size: 25px;
    margin-right: 5px;
}

.logout__icon {
    cursor: pointer;
}

