.personalInformationBlock {
    margin-top: 15px;
}

.personalInformationBlock div{
    display: flex;
    margin-bottom: 7px;
}
.aboutMeBlock {}

.descriptionAJobBlock {}

.textLabel {
    width: 150px;
    margin-right: 5px;
    font-weight: 600;

}

.textInformation {
    width: 350px;
    font-size: 17px;
}
