* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.App-wrapper {

}

.app-main__container {
  max-width: 1200px;
  margin: 0 auto;
}

.app-main__wrapper {

 display: flex;
}

.app-main__content {
    width: 100%;
    background-color: lavender;
    

}