.profileInfo__block {
    display: flex;
}

.profileInfo__name {
    margin-top: 10px;
    font-weight: 600;
}

.profileInfo__name__text {
    font-size: 25px;
    font-family: "'Playfair Display', serif";
}

.profileInfo__ava {
    width: 250px;
    height: 320px;
    background-size: cover;
    background-position: center;
}

.infoBlock {
    margin-left: 15px;
}

